<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <div class="shorturl">
    <h1 class="text">Your short URL:</h1>

  <body>
    <div class="urle">
    <a href="<%= url %>"><%= url %></a>
  </div>
  </body>
</div>
</html>
<style> 
.shorturl{ 
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
  size: 32px;
}
.text {
  color: lightblue;
  font-family: Arial, sans-serif;
}
.urle {
  color: white
}
body {
  background-color: #121212;
}
</style>
